header {
	color:white;
}

header .navbar-left span {
    font-size: 20px;
    padding-top: 10px;
}
a:visited {
    color: #666;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
div.body {
    margin-top: 51px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
div.field, div.actions {
    margin-bottom: 10px;
}
#error_explanation {
    color: red;
}